:root {
    /* footer */
    --footer-background: #f5f5f7;
    --footer-border-color: #d2d2d7;
    --footer-text-color: #6e6e73;
    --footer-link-color: #424245;
    --footer-directory-title-color: #1d1d1f;
    --footer-directory-title-color-hover: #000;
}

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    overflow-x: hidden;
    font-size: 12px;
}

nav {
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.icon a {
    /* To make the inline element (a, span etc) to behave like a box model element (div, p, h1 etc), in other words, to make the a tag behave like a div tag. */
    display:block; 
    line-height:0;
    padding: 0 5px;
    margin: 0 15px;
}

.icon a img {
    height: 44px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #f5f5f7;
    overflow: hidden;
}

nav li {
    float: left;
    padding: 0 5px;
    margin: 0 15px;
}

nav li a {
    text-decoration: none;
    font-weight: 300;
    color: #f5f5f7;
    display: block;
}

nav li a:hover {
    color: #fff;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size:14px;
    line-height:1.42859;
    font-weight:400;
    letter-spacing:-.016em;
    font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding-bottom:56px;
    width: 100vw;
    background: var(--footer-background);
    color: var(--footer-text-color);
}

footer a {
    color: var(--footer-link-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .ft-footer-shop a {
    color: #06c;
}

@media (max-width: 833px) {

}